/* ExpenseItem.css */
.change-allocation-btn {
  background-color: #eff0f1;
  color: #333;
  border: 1px solid #d1d3d4;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 12px;
  margin-right: 5px; /* Spacing between buttons */
  font-size: 14px;
  transition: background-color 0.3s;
}

.change-allocation-btn.increase {
  background-color: #28a745; /* A nice green color */
  color: white;
}

.change-allocation-btn.decrease {
  background-color: #dc3545; /* A contrasting red color */
  color: white;
}

.change-allocation-btn:hover {
  opacity: 0.8;
}

/* Icon sizing */
.TiDelete {
  cursor: pointer;
}
